
{% extends "WTPlatformBundle::layout.html.twig" %}

{% block title %}

  Modifier- {{ parent() }}
{% endblock %}

{% block wtplatform_body %}

  <h2>Modifier</h2>

  {{ include("WTPlatformBundle:Advert:form.html.twig") }}

 

  <p>
    <a href="{{ path('wt_platform_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

{% endblock %}
